* {
    margin: 0;
    padding: 0;
  }

  body {
    background: #E9ECF4;
    color: #000;
    
  }

  header{
    padding: 20px;
    border-radius: 4px;
    background: #395ab3;
    text-align: center;

  
  }

  #cc {
   background:purple;   
   padding: 20px;  
   border-radius: 4px;
   text-align: center;
  }

  #prod {
    background: greenyellow;   
    padding: 20px;  
    border-radius: 4px;
    text-align: center;
  }

  #contenedor {
    display: table;
    border: 2px;
    width: 333px;
    text-align: center;
    margin: 0 auto;
}

  #contenidos {
    display: table-row;
}
  #columna1, #columna2, #columna3 {
    display: table-cell;
    border: 1px;
    vertical-align: middle;
    padding: 10px;
}

#cp {
  display: table-row;
}
  
#productos, #carrito  {
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
}

.purple {
  background-color:purple;
}

.greenyellow {
  background-color: greenyellow;
}

#btn-main{
  font-size: 16px;
  text-align: center;
  border-radius: 8px;
  padding: 10px 20px;
}
